In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import style
import matplotlib.pyplot as plt


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [15]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [16]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
month_str = '06'

In [17]:
#  3. Convert the June temperatures to a list.
results = []
results = session.query(Measurement.date, Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == month_str).all()

In [25]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_temp_df = pd.DataFrame(results, columns=["date","tobs"])
June_temp_df.rename(columns={"tobs":"June Temps"}, inplace = True)
June_temp_df.head(10)
# June_temp_df.tail(10)

         date  June Temps
0  2010-06-01        78.0
1  2010-06-02        76.0
2  2010-06-03        78.0
3  2010-06-04        76.0
4  2010-06-05        77.0
5  2010-06-06        78.0
6  2010-06-07        77.0
7  2010-06-08        78.0
8  2010-06-09        78.0
9  2010-06-10        79.0

In [22]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_temp_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.